@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

.container{
    width: 1100px;
    margin: 0 auto;
}

/* Navigation area css */

#nav-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A0E41;
    padding: 10px 100px;
    border-bottom: 2px solid #401E63;
}

#nav-area .wb-logo{
    width: 30%;
}

#nav-area .wb-logo .img-thumb{
    display: flex;
    align-items: center;
    cursor: pointer;
}

#nav-area .wb-logo .img-thumb h2{
    color: #fff;
    margin-left: 8px;
    font-size: 22px;
    font-weight: 300;
}

#nav-area .wb-logo .img-thumb span{
    color: #FF4A04;
}

#nav-area .navbar{
    width: 42%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#nav-area .navbar li{
    /* margin: 10px 5px; */
}

#nav-area .navbar li a{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    transition: 0.5s all ease;
    
}

#nav-area .navbar li .active{
    color: #FF4A04;
}

#nav-area .navbar li a:hover{
    /* background-color: #000000; */
    color: #FF4A04;
    /* border-radius: 5px; */
}

/* Hero area css start */
header{
    background: url('images/website\ banner.jpg') no-repeat fixed center center / cover;
    padding: 200px 0;
}

.searchbox-icon-parent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbox-icon-parent input{
    background-color: #F5F5F5;
    width: 500px;
    height: 40px;
    padding: 5px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #111;
    font-size: 15px;
    font-weight: 400;
}

::placeholder{
    font-size: 14px;
    font-weight: 300;
    
    /* text-transform: capitalize; */
}


.searchbox-icon-parent i{
    color: #fff;
    background-color: #F57224;
    font-size: 25px;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    /* margin-left: -50px; */
}

/* Main css code start */

main{
    background-color: #2D236A;
    padding-top: 20px;
}

.latest-blog{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.latest-blog .latest-blog-text{
    color: #04AA6D;
    font-size: 22px;
    
}

.latest-blog .latest-blog-text h3{
    font-weight: 600;
}

.latest-blog .latest-pages{
    color: #04AA6D;
   
}

.latest-blog .latest-pages h4{
    font-size: 20px;
}

.latest-blog .latest-pages span{
    color: #fff;
    background-color: #34495e;
    border: 1px solid #fff;
    padding: 6px 10px;
    border-radius: 5px;
    margin: 0 6px;
    cursor: pointer;
}